@use 'main';

header {
    max-width: 100%;
    width: 1109px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
footer {
    max-width: 100%;
    width: 1109px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    width: 1109px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:visited {
    color: $linkvisited;
    text-decoration: $text-decoration;
    color: $color;
}

a:hover {
    text-decoration: $underline;
    font-weight: $font-weight;
    color: $color;
}

a {
    text-decoration: none;
    color:$links;
    text-transform: $text-transform;
}