header {
    width: 100%;
    width: 1109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    Top: 0;
    overflow: hidden;
    background: white;
}
nav {
    font-family: "Tajawal", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

a:visited {
    color: #878786;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #a240a5
}

a {
    text-decoration: none;
    color: #501C65;
    text-transform: uppercase;
}