body {
    font-family: $main-font;
    min-height: 100vh;
    margin-top: 25px;
    justify-content: center;
   }

font {
    family: "Mulish", sans-serif;
    
}

//main colors
    $text: black;
    $links: black;
    $linkvisited: #878786;

//links

//hover 
    $underline: underline;
    $font-weight: bold;
    $color: #a240a5;


//normal
    $text-transform: uppercase;

//columns
    $firstcolumn-width: 400px; 
    $secondcolumn-width: 200px;
