@use 'variables';

body {
    font-family: 'mulish', sans-serif;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;   
    
   }
header {
    max-width: 100%;
    width: 1109px;
    height: 100px;
    display: flex;
    justify-content: center;
  
    
}
footer {
    max-width: 100%;
    width: 1109px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    width: 1109px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

a:visited {
    color: $linkvisited;
    color: $color;
}

a:hover {
    text-decoration: $underline;
    font-weight: $font-weight;
    color: $color;
}

a {
    text-decoration: none;
    color:$links;
    text-transform: $text-transform;
}

 