//main colors
$text: black;
$links: black;
$linkvisited: #878786;

//hover 
$underline: underline;
$font-weight: bold;
$color: #a240a5;

//normal
$text-transform: uppercase;

//text
$main-font: "Mulish", sans-serif;
$maintextsize: 16px;
$h1: 40px bold; 
$h3: 28px bold; 
$h4: 22px bold; 
$h5: 18px bold; 
$h6: 16px bold;
$regular18: 18px;


// //columns
// $firstcolumn-width: 400px; 
// $secondcolumn-width: 200px;


