@use 'fonts';
@import 'variables';
@import 'main';
@import 'header';

body{
    color: $text;
}
.containersection1 {
    max-width: 1109px;
    width: 100%;
    height: 251px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

}

.hello {
    width: 600px;
}

.design {
    width: 300px;
}

.containersection2 {
    width: 1200px;
    height: 106px;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    

    .containertext { 
        width: 444px; 
        margin-left: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .welove {
        width: 400px;
        max-width: 100%;
        height: 106px;
        align-items: left;
    }

    .multimedia {
        width: 200px;
        height: 106px;
    }

    .creative {
        width: 200px;
        height: 106px;
        align-items: flex-end;
    }
}

.containersection3 {
    max-width: 1110px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
    display: flex;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;



    .section1 {
        width: 222px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .section2 {
        width: 444px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .section3 {
        width: 222px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }

    .section4 {
        width: 222px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

}

// .awwards .cssn {
//     width: $firstcolumn-width;
// }

// .site .bestnav .text {
//     width: $secondcolumn-width;
// }



//     grid-template-columns: repeat(5, 1fr);
//     grid-template-rows: 1fr 1fr 1fr;
// }
// .welove {
//     grid-column: span 3;
//     grid-row: span 3;
// }
// .multimedia {
//     grid-column: 4;
//     grid-row: 1;
// }
// .interactive {
//     grid-column: 4;
//     grid-row: 2;
// }
// .branding {
//     grid-column: 4;
//     grid-row: 3;
// }
// .creative {
//     grid-column: 5;
//     grid-row: 1;
// }
// .packaging {
//     grid-column: 5;
//     grid-row: 2;
// }
// .coding {
//     grid-column: 5;
//     grid-row: 3;
// }
// .containersection3 {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     grid-template-rows: repeat(5, 1fr);
// }