@use 'fonts';

@import 'header'; 
@import 'main'; 

body {
    font-family: fonts.$main-font;
}

body {
    min-height: 100vh;
    margin-top: 100px;
   }
/*
nav {
    font-family: "Tajawal", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

} */
/*
a:visited {
    color: #878786;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #a240a5
}

a {
    text-decoration: none;
    color: #501C65;
    text-transform: uppercase;
}

.logo {
    width: 125px;
}

.ul-top {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;

}