body {
  font-family: "mulish", sans-serif;
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
}

header {
  max-width: 100%;
  width: 1109px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  max-width: 100%;
  width: 1109px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 1109px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a:visited {
  color: #878786;
  color: #a240a5;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #a240a5;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

body {
  color: black;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

.containersection4 {
  width: 1110px;
  width: 100%;
  height: 335px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.containersection4 .maintext {
  width: 635px;
  height: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.containersection4 .title {
  font-size: 40px bold;
}
.containersection4 .section1 {
  width: 200px;
  height: 335px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.containersection4 .section2 {
  width: 200px;
  height: 335px;
  margin-left: 25px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.containersection5 {
  width: 1110px;
  max-width: 100%;
  height: 1450px;
  gap: 30px;
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-rows: repeat(10, 1fr);
}

.containersection5 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.containersection5 > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.containersection5 > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.containersection5 > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.containersection5 > *:nth-child(13) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(14) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(15) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.containersection5 > *:nth-child(16) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(17) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(18) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.containersection5 > *:nth-child(19) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(20) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(21) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

.containersection5 > *:nth-child(22) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(23) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(24) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.containersection5 > *:nth-child(25) {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(26) {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(27) {
  -ms-grid-row: 17;
  -ms-grid-column: 5;
}

.containersection5 > *:nth-child(28) {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
}

.containersection5 > *:nth-child(29) {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
}

.containersection5 > *:nth-child(30) {
  -ms-grid-row: 19;
  -ms-grid-column: 5;
}

.balloon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.maintext {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.landscape {
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
  -ms-grid-column: 1;
  grid-column: 1;
}

.flowers {
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
  -ms-grid-column: 2;
  grid-column: 2;
}

.house {
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
  -ms-grid-column: 3;
  grid-column: 3;
}